.userPhoto {
  width: 120px;
  height: 120px;
}

.user {
  float: left;
  margin: 20px;
  padding-left: 40px;
}

.userButton {
  padding: 4px;
}

h3 {
  padding: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.users {
  flex: 1 0 auto;
}

.pagesBtn {
  flex: 0 0 auto;
  margin: 1% auto;
}

span {
  padding: 5px;
  cursor: pointer;
}

.actBtn {
  font-weight: bold;
}
