.userPhoto {
  width: 95%;
  height: 95%;
  border-radius: 90px;
}

.user {
  float: left;
  width: 20%;
  height: 25%;
  padding: 5%;
}

.userButton {
  padding: 4px;
}

h3 {
  padding: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.users {
  flex: 1 0 auto;
}
