.wallImg {
  height: 400px;
  width: 100%;
}

.descriptionBlock {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 30px;
}

.fullName {
  padding-top: 8px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-left: 12%;
}

.aboutMe {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8em;
  margin-left: 12%;
}

.photo {
  border-radius: 180px;
}

.customInputFile {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.photoLable {
  cursor: pointer;
  text-align: center;
  margin: 2% 15%;
  width: 30%;
  display: inline-block;
  line-height: 2em;
  padding: 0 0.8em;
  border: 1px solid #666;
  border-radius: 0.25em;
  background-image: linear-gradient(to bottom, #fff, #ccc);
  box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  font-family: arial, sans-serif;
  font-size: 0.8em;
}

.photoLable:hover {
  border-color: #3c7fb1;
  background-image: linear-gradient(to bottom, #fff, #a9dbf6);
}

.photoLable:focus {
  padding: 0 0.56em 0 0.68em;
}
